header {
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 130px;

}

.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 30px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 20px 0 15px;
    position: relative;
    z-index: 20;
    cursor: pointer;
}

.search_icon {
    cursor: pointer;
}

.button1 {
    height: 45px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    background-color: #FF8D8D;
    color: #fff;
    border-radius: 8px;
    transition: all 300ms;
    z-index: 10;
}

/* .button1:active {
    transform: translateY(-3px);
} */

.dropdown {
    height: auto;
    width: 200px;
    padding: 10px 0;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 20;
    position: absolute;
    top: 110%;
    border-radius: 5px;
}

.dropdown li {
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #efefef;
}