/*index css*/
/*default styling*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    cursor: text;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

i {
    color: #454545;
}